@import "~antd/dist/antd.css";
.logo {
  width: 100%;
  height: 64px;
  /* background: url('./logo.svg') no-repeat center center; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}
#root {
  height: 100%;
}
.ant-layout {
  height: 100%;
}
.site-layout .site-layout-background {
  background: #fff;
}
.site-layout .site-layout-background {
  background: #fff;
  display: flex;
}

.site-layout-background .userSet {
  flex: 1;
  text-align: right;
  margin-right: 24px;
}
/* 登录表单 */
.loginBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://cas.1000phone.net/cas/images/login/bg.png) center
    no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.login-form {
  width: 420px;
  padding: 30px 20px;
  background-color: #fff;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
/* banner */
.ant-table-wrapper {
  width: 100%;
}
.ant-form-horizontal {
  width: 100%;
}
#root .login-form {
  width: 300px;
}
.ant-layout-content {
  overflow-y: auto;
}
/* 404 */
.center {
  width: 100%;
}
